* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forgotpassword_page{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.forgotpassword_msg{
    font-size: 30px;
    margin-top: 20px;
}

.email input{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    font-size: 25px;
    padding-left: 10px;
}

.forgotpassword_button button{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
}