* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_page{
    width: 50%;
    margin: 90px auto;
    text-align: center;
}

.login_box{
    width:600px;
    height:900px;
    margin: auto;
    background-color: #F3F3F3;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login_title {
    text-align: center;
    font-size: 35px;
    padding-top: 25px;
}

.login_id_text{
    font-size: 30px;
    text-align: left;
    padding-top: 60px;
    padding-left: 90px;
}

.login_password_text{
    font-size: 30px;
    text-align: left;
    padding-left: 90px;
}

.login_id, .login_password{
    margin-top: 15px;
}

.login_forgot_msg{
    text-align: right;
    font-size: 18px;
    padding-right: 80px;
}

.login_forgot_msg a {
    color: #333333;
    text-decoration: underline;
}

.login_forgot_msg a:hover{
    font-weight: 600;
    cursor: pointer;
}

.login_idbox input ,
.login_passwordbox input{
    width: 420px;
    height: 70px;
    padding: 10px 10px 10px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 25px;
    padding-left: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login_idbox input:hover ,
.login_passwordbox input:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login_button button ,
.signin_button button {
    width: 420px;
    height: 70px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    color: #333333;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login_button button:hover ,
.signin_button button:hover{
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login_total_button{
    margin-top: 250px;
}


