* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_hello_box{
    width: 1080px;
    height: 900px;
    background-color: #002455;
    border-radius: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login_hello_text_1{
    color: white;
    font-size: 80px;
    margin-left: 100px;
    margin-top: 250px;
    text-align: left;
    width: 700px;
    height: 100px;
}

.login_hello_text_2{
    width: 700px;
    height: 100px;
    color: white;
    font-size: 40px;
    margin-left: 100px;
    text-align: left;
}

.login_hello_text_3{
    width: 700px;
    height: 50px;
    color: white;
    font-size: 40px;
    margin-top: 225px;
    margin-left: 100px;
    text-align: left;
}

.login_hello_text_4 a{
    width: 700px;
    height: 50px;
    color: white;
    font-size: 22px;
}

.login_hello_text_4{
    margin-left: 100px;
    text-align: left;
}

.login_box{
    width:600px;
    height:900px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login_title {
    text-align: left;
    font-size: 40px;
    padding-top: 40px;
    width: 500px;
    padding-left: 90px;
    height: 80px;
    color: #002455;
    font-weight: 600;
}

.login_id_text{
    font-size: 30px;
    text-align: left;
    padding-top: 60px;
    padding-left: 90px;
    color: #002455;
}

.login_password_text{
    font-size: 30px;
    text-align: left;
    padding-left: 90px;
    color: #002455;
}

.login_id, .login_password{
    margin-top: 15px;
}

.login_idbox input ,
.login_passwordbox input{
    width: 420px;
    height: 70px;
    padding: 10px 10px 10px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 25px;
    padding-left: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login_idbox input:hover ,
.login_passwordbox input:hover{
    border: 3px solid #002445;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login_button button ,
.signin_button button {
    width: 420px;
    height: 80px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f3f6f9;
    color: #002455;
    border: 1px solid #f3f6f9;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login_button button:hover ,
.signin_button button:hover{
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login_total_button{
    margin-top: 280px;
}


