* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my_page{
    width: 1343px;
    height: 443px;
    margin-left: 480px;
    margin-top: 200px;
    background-color: #f3f3f3;
    border-radius: 10px;
    text-align: left;
    border: 2px solid black;
    font-size: 25px;
}

.mypage_text{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
}

.mypage_totalbox{
    margin-left: 20px;
    margin-top: 30px;
}

.mypage_signout_button button{
    background-color: white;
    width: 130px;
    height: 40px;
    color: black;
    margin-left: 1200px;
    margin-top: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
}