* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup_page{
    width: 50%;
    margin: auto;
    text-align: center;
}

.signup_text{
    font-size: 30px;
    margin-top: 20px;
}

.signup_email input,
.signup_password_input input,
.signup_name input,
.signup_gender select,
.signup_birth input,
.signup_phone_number input,
.signup_age input,
.signup_etc input{
    height: 40px;
    width: 300px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.signup_button button {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 30px;

}

.signup_box{
    margin-top: 40px;
}