.calendar_page {
    max-width: 450px;
    margin-top: 50px;
    margin-left: 450px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #ccc;
    padding: 5px;
    font-size: 15px;
}

.cal_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.controls {
    background-color: white;
    border: none;
    cursor: pointer;
}

.cal_last_month_button button{
    margin-left: 10px;
}

.cal_next_month_button button{
    margin-right: 10px;
}

.cal_month {
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.cal_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.cal_day {
    text-align: center;
    padding: 5px;
}

.cal_empty-cell {
    visibility: hidden;
}

.cal_today {
    background-color: #f3f3f3;
    border-radius: 10px;
    font-weight: 400;
}
