.calendar_page {
    width: 450px;
    height: 300px;
    margin-top: 50px;
    margin-left: 450px;
    border: 1px solid gray;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    font-size: 15px;
}

.cal_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cal_last_month_button button{
    margin-left: 10px;
    width: 60px;
    background-color: white;
    border: 1px solid white;
    font-size: 15px;
}

.cal_next_month_button button{
    margin-right: 10px;
    width: 60px;
    background-color: white;
    border: 1px solid white;
    font-size: 15px;
}

.cal_last_month_button button:hover,
.cal_next_month_button button:hover{
    font-weight: 600;
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cal_month {
    width: 200px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.cal_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.cal_dw {
    text-align: center;
    margin-top: 10px;
}

.cal_day{
    margin-top: 8px;
    padding: 5px 10px;
}

.cal_empty-cell {
    visibility: hidden;
}

.cal_today {
    background-color: #f3f3f3;
    border-radius: 16px;
    font-weight: 600;
}
