* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_hello_box{
    background-color: #F3F3F3;
    height: 415px;
    width: 1380px;
    text-align: center;
    margin-left: 450px;
    margin-top: 50px;
}

.main_text1{
    padding-top: 120px;
    font-size: 48px;
}

.main_text2{
    margin-top: 20px;
    font-size: 32px;
}
