* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeIcon{
    color: white;
}

.peopleIcon{
    display: inline-block;
    color:#b4b1a7;
    vertical-align: middle;
    margin-right: 10px;
}

.sidebar {
    width: 390px;
    height: 100%;
    position: fixed;
    top:0;
    text-align: center;
    background-color: #002455;
    padding-top: 80px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover{
    font-weight: 600;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

ul{
    margin-top: 200px;
}

.sidebar_text{
    padding: 10px;
    font-size: 28px;
}

.sidebar-divider {
    width: 100%;
    border: 0;
    border-top: 5px solid #002455;
    margin-top: 50px;
}

.topbar{
    position: absolute;
    top: 0px;
    right: 20px;
    text-align: right;
}

.topbar_text{
    display: inline-block;
    font-size: 24px;
    padding-right: 20px;
    vertical-align: middle;
}

.topbar_text a {
    color: #333333;
    text-decoration: none;
}

.topbar_text:hover{
    font-weight: 600;
    cursor: pointer;
}

