* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.change_patient_page{
    width: 1000px;
    height: 500px;
    margin-left: 500px;
    margin-top: 30px;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.15);
}

.change_patient_box{
    width: 440px;
    height: 340px;
    margin-left: 100px;
}

.change_patient_text{
    width: 250px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 500px;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    text-align: left;
}

.change_patient_total_box{
    width: 1000px;
    height: 500px;
}

.change_patient_info_box{
    display: flex;
    width: 860px;
    height: 340px;
    padding-top: 80px;
    padding-left: 40px;
}

.change_patient_profile_box{
    float: left;
}

.change_patient_profile{
    width: 320px;
    height: 320px;
    background-image: url("/src/image/free-icon-edit-user-11864116.png");
    background-size: 320px 320px;
    float: left;
}

.change_patient_name_box, .change_patient_address_box, .change_patient_phone_num_box,
.change_patient_age_box, .change_patient_email_box, .change_patient_sex_box,
.change_patient_emergency_num_box{
    display: flex;
}

.change_patient_name_title, .change_patient_address_title, .change_patient_phone_num_title,
.change_patient_age_title, .change_patient_email_title, .change_patient_sex_title{
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #B4B4B6;
    line-height: 40px;
}

.change_patient_emergency_num_title{
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #B4B4B6;
    line-height: 40px;
}

.change_patient_name input, .change_patient_age input, .change_patient_sex select,
.change_patient_phone_num input, .change_patient_email input, .change_patient_address input{
    height: 40px;
    width: 280px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 60px;
    color: #767A83;
    border: 1px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.change_patient_emergency_num input{
    height: 40px;
    width: 280px;
    padding-left: 10px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 20px;
    color: #767A83;
    border: 1px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.change_patient_name input:hover, .change_patient_age input:hover, .change_patient_sex select:hover,
.change_patient_phone_num input:hover, .change_patient_email input:hover,
.change_patient_emergency_num input:hover, .change_patient_address input:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.change_patient_yesbtn button {
    width: 100px;
    height: 40px;
    background-color: white;
    color: #6D8FE4;
    text-align: center;
    border: 3px solid #6D8FE4;
    border-radius: 10px;
    font-size: 15px;
}

.change_patient_nobtn button {
    width: 100px;
    height: 40px;
    background-color: white;
    color: #ababab;
    text-align: center;
    border: 3px solid #ababab;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10px;
}

.change_patient_total_button {
    display: flex;
    justify-content: center;
    width: 210px;
    height: 40px;
    margin-left: 780px;
    margin-top: 110px;
}

.change_patient_total_button button:hover{
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}